@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  scroll-behavior: smooth;
}

.hidden-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
